
/*
  **Css para celulares**
*/
.bitamp{position:relative; }
.bitamp div img{position:absolute;top:25%; right:40%;}
.bitamp  p{ margin-top:100px;}

.thumbnail-default{ padding:2%; text-align:center; margin:10px 0px;position:relative;}
.thumbnail-default h4{text-align:center;font-size:1.5em; font-weight:;min-height:45px;}
.thumbnail-default img{margin-bottom:15px;}
.under-l{border-bottom:solid 2px;padding:10px 25px;}
p,ul, ol{font-size:1.2em;}
ul li ul{font-size:1em;}
article{text-indent:2%;}


body {
      background-color:#fff;
      color:#313131;
      width:100%;
}
#cabecalho a{color:#fff;text-decoration:none;}

.section {
  padding-bottom:25px;
  padding-top:25px;
}

#title-image1{background-image:url('http://keniwd.16mb.com/jua/img/cftv.jpg');}

/*DropDown mobile*/

.dropdown{
  background-color:rgba(0,0,0,.4);
  padding:5px auto;
  color:#fff;
  text-align:center;
  font-size:1.8em;
}

.btn_n{ 
  padding:20px;
  background-color:rgba(0,0,0,.1);
  border-radius:10px;
  width:100%;
  font-weight:bold;
}


.dropdown ul{
  padding:5px;
  list-style:none; 
  background-color:rgba(0,0,0,.1);
  width:100%;
  border-radius:10px;
  border:solid 1px rgba(0,0,0,.1);
  display:none;
}

.dropdown ul li{
  margin:10px; 
  border-bottom:solid rgba(0,0,0,.1) 1px;
}

.dropdown a{
  color:#fff;
  text-decoration:none;
}

.thumbnail-deafult{ background-color:transparent; border:none;}

.list-clean {margin:0px; padding:0; list-style:none;}
.list-clean li{width:auto; margin:0; padding:0; float:center;}
.center{text-align:center;}
.center-block{margin:auto;float:center;}
.left{text-align:left;}
.left-block{}
.title-c{text-align:center;}
.title-l{text-align:left; margin-bottom:40px;}
.title-image{height:30vh;background-repeat:no-repeat; background-size:100%;filter:brightness(70%);border-radius:10px;}


.title-under-l{ padding:5px 10px;}

.txt-img p{ float:left; width:70%;}
.txt-img img{ float:right; position:relative; right:10%;}  
.txt-img ul{ float:left;}  




#cabecalho{background-color:#006680;border-bottom:solid 5px #FFDD55;}

#slideshow{
  border-bottom:solid #006680 5vh;
  position:relative;
  display:none;
  width:100%;
  height:65vh;
  overflow:hidden;
}

#slideshow img {
  width:100%;
  height:60vh;
  position:absolute;
  top:0px;
}

#slideshow figure{
  position:absolute;
  top:0px;
  width:100%;
  height:60vh;
}

.slide_legenda figcaption{ 
  text-align:center;
  background-color:rgba(0,0,0,.5);
  color:#fff;
  text-shadow: 2px 2px 1px rgba(0,0,0,.7);
  position:absolute;
  width:100%;
  height:10vh;
  padding-bottom:1%;
  padding-top:1%;
  bottom:0;
  
}


.menu{
  color:#fff; 
  text-align:center; 
  float:right;
  display:none;
}


.menu div{
  padding-top:50px;
  font-size:1.1em;vertical-align:middle; 
  width:100px; height:100px;}



.menu div:hover {
  background-color:rgba(0,0,0,.2);
  border-bottom: solid #FFE166 5px;
  transition:.6s;
}

.c_red{color:red;}


#clientes h5{text-align:center;}
#rodape{background-color:#006680;border-top:solid 5px #FFDD55; color:#fff; text-shadow: 1px 1px 1px  rgba(0,0,0,.5);}

.title{ text-align:center; margin-bottom:3%; background-color:#006680; padding: 5px; color:#fff;}

.s_title{text-align: center; margin-bottom:5%;}
.n-title{margin-bottom:5%;}
.trans {background-color:rgba(0,0,0,.0); border:none;}
.c{border:red solid 1px;}




@media (max-width: 400px){
    #cabecalho{padding-top:100px;}
    .txt-img p { width:100%;}
    .txt-img img {display:none;}  
}

@media (min-width: 400px){
  .dropdown{display:none;}
  .menu{display:block;}  
  #slideshow{display:block;}
  .txt-img img {width:40%; right:0;}
  
}

/*
  **Css para tablets**
*/

@media (min-width: 768px){
  body{
    background-color:#fff;
  }
  
  #cabecalho{padding-top:0px auto;}
  #logo {position:relative;}
  #logo img{position:absolute; top:10px;}
  .txt-img img{right:10%;}  
}


/*
  **CSS para tablets e not/netbooks**
*/
@media (min-width: 992px){
  #cabecalho{
    padding-top:0px auto;
  }
  body{
    background-color:#fff;}
}


/*
  **CSS para dispositivos maiores**
*/
@media (min-width: 1200px){
  body{
    background-color:#fff;
  }
  
  #cabecalho{
    padding-top:0px;
  }
}
